body{
    margin:0;
    padding:0;
    background-color:beige;
}
.global{
    width:100%;

}
h1{
    text-align:center;
}
.table{
    margin-left:15%;
    width:70%;
    height:80%;
    background-color:purple;
}
.first_row{
    width:100%;
    height:15%;
    background-color:beige;
    text-align:center;
}
.login{
    /*visibility:hidden;*/
    display:none;
}
.non_login{
    display:block;
}
.second_row{
    background-color:coral;
    position:relative;
}
.left{
    float:left;
    width:20%;
    height:520px;
    background-color:coral;
}
.right{
    width:80%;
    height:520px;
    background-color:gray;
    float:left;
    text-align:center;
}
.two_span{

    float:left;
    text-align: center;
}
.up_img{
    width:100px;
    float:right;
    text-align: center;
    font-size:20px;

}
#upload_div{
    display:none;
}
.upload_table{
    width:400px;
    border:0;

}
.up_load_title{
    width:100px;
}
#img_list{
    color:yellow;
    margin:10px 0;
    padding:5px 5px;
}
img{

}